html {
	border: var(--border-page);
	border-top: none;
	background: var(--color-highlight);
}

body {
	font-size: 100%;
	color: var(----color-text);
	font-family: var(--font-fallback);
	background: var(--color-page-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

@media screen and (min-width: 800px) {
	.container {
		margin: 0 auto;
		display: flex;
	}
}

.main {
	grid-column: 1/13;
}

@media screen and (min-width: 800px) {
	.main {
		grid-column: var(--columns-main);
		min-height: 100vh;
	}

	.container .main {
		border-left: var(--border-ui);
		border-right: var(--border-ui);
		padding-bottom: 0;
	}
}

.nav {
	display: none;
}

@media screen and (min-width: 800px) {
	.nav {
		display: block;
		grid-column: var(--columns-sidebar);
	}
}

.sidebar {
	display: none;
	color: var(--color-inverted-text);
}

@media screen and (min-width: 800px) {
	.sidebar {
		display: block;
		grid-column: var(--columns-sidebar);
	}
}

.sidebar .entries {
	padding: var(--padding-sidebar);
}

@media screen and (min-width: 800px) {
	.sidebar .entries {
		position: sticky;
		top: 10px;
		padding-bottom: 0;
	}
}

.sidebar-heading {
	font-family: var(--font-subheading);
	font-size: var(--font-size-sidebarheading);
	margin-top: 0;
	margin-bottom: 5px;
	color: var(--color-text);
}

.entries-list {
	margin-block-start: 10px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

@media screen and (min-width: 800px) {
	.entries-list {
		overflow: scroll;
		height: 100dvh;
		-ms-overflow-style: none; /* for Internet Explorer, Edge */
		scrollbar-width: none; /* for Firefox */
	}

	.entries-list::-webkit-scrollbar {
		display: none;
	}
}

.entries-list a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
	transition: 0.3s ease-in-out color;
	line-height: 1.3;
}

.entries-list a:hover {
	color: rgba(255, 255, 255, 1);
}

.nav {
	border-bottom: var(--border-ui);
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

hr {
	margin-top: 30px;
	margin-bottom: 30px;
	background: none;
	border: none;
	border-top: 2px dashed var(--color-logo);
}

blockquote {
	padding: 20px;
	background: var(--color-code-block-bg);
	color: var(--color-subtext);
}

blockquote > *:first-child {
	margin-top: 0;
}

.btn-support {
	font-family: var(--font-subheading);
	display: block;
	width: 100%;
	padding: 10px;
	background: var(--color-highlight);
	color: var(--color-inverted-text);
	text-align: center;
	text-decoration: none;
	border-radius: var(--btn-radius);
	transition: all 0.2s ease-in;
}

.btn-support:hover,
.btn-support:focus {
	background: var(--color-highlight-dark);
}

.cp_embed_wrapper {
	margin-top: 20px;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
