html {
	@media screen and (min-width: 800px) {
		border: var(--border-page);
	}
}

body {
	font-size: 100%;
	color: var(----color-text);
	font-family: var(--font-fallback);
	background: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

@media screen and (min-width: 800px) {
	.container {
		margin: 0 auto;
		display: flex;
	}
}

.main {
	grid-column: 1/13;
}

@media screen and (min-width: 800px) {
	.main {
		grid-column: var(--columns-main);
		min-height: 100vh;
	}

	.container .main {
		border-left: var(--border-ui);
		border-bottom: var(--border-ui);
		border-right: var(--border-ui);
		padding-bottom: 0;
	}
}

.nav {
	display: none;
}

@media screen and (min-width: 800px) {
	.nav {
		display: block;
		grid-column: var(--columns-sidebar);
	}
}

.sidebar {
	background: var(--color-sidebar);
	display: none;
}

.sidebar p {
	font-weight: bold;
	color: var(--color-inverted-text);
	margin-top: 0;
	font-size: 125%;
}

.sidebar p a {
	text-decoration-color: rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 800px) {
	.sidebar {
		display: block;
		border-left: var(--border-ui);
		border-bottom: var(--border-ui);
		grid-column: var(--columns-sidebar);
	}
}

.sidebar-about {
	margin-bottom: 2rem;
}

.sidebar-about nav {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.sidebar-wrapper {
	display: flex;
	flex-direction: column;
	padding: var(--padding-sidebar);
	justify-content: space-between;
	height: 95dvh;
}

@media screen and (min-width: 800px) {
	.sidebar-wrapper {
		position: sticky;
		top: 10px;
		left: 0;
		padding-bottom: 0;
	}
}

.sidebar-heading {
	font-family: var(--font-subheading);
	font-size: var(--font-size-sidebarheading);
	margin-top: 5px;
	margin-bottom: 10px;
	color: var(--color-page-bg);
}

.entries-list {
	margin-block-start: 10px;
	display: flex;
	flex-direction: column;
	gap: 0px;
}

@media screen and (min-width: 800px) {
	.entries-list::-webkit-scrollbar {
		display: none;
	}
}

.entries-list a {
	font-weight: 400;
	display: inline-block;
	text-decoration: none;
	transition: 0.3s ease-in-out color;
	line-height: 1.3;
	width: auto;
	border-radius: 5px;
	position: relative;
	left: -10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	opacity: 0.85;
}

.entries-list a:hover,
.entries-list a:focus {
	font-weight: 600;
	color: var(--color-text);
	background: var(--color-code-block-bg);
	cursor: pointer;
}

.nav {
	border-bottom: var(--border-ui);
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

hr {
	margin-top: 30px;
	margin-bottom: 30px;
	background: none;
	border: none;
	border-top: 2px dashed var(--color-logo);
}

blockquote {
	padding: 20px;
	background: var(--color-code-block-bg);
	color: var(--color-subtext);
}

blockquote > *:first-child {
	margin-top: 0;
}

blockquote > *:only-child {
	margin-top: 0 !important;
	margin-bottom: 0;
}

.btn-support {
	font-family: var(--font-subheading);
	display: block;
	width: 100%;
	padding: 10px;
	background: var(--color-highlight);
	color: var(--color-inverted-text);
	text-align: center;
	text-decoration: none;
	border-radius: var(--btn-radius);
	transition: all 0.2s ease-in;
}

.btn-support:hover,
.btn-support:focus {
	color: var(--color-inverted-text) !important;
	background: var(--color-highlight);
}

.cp_embed_wrapper {
	margin-top: 20px;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.pagination {
	display: flex;
	border-top: var(--border-ui);
	padding: 20px;
}

h2 .header-anchor {
	opacity: 0;
	transition: all 0.3s linear;
}

h2:hover .header-anchor {
	opacity: 1;
	color: var(--color-page-bg);
	text-decoration: none;
}

.lurk-links {
	display: flex;
	gap: 5px !important;
	position: relative;
	left: -10px;
	margin-top: 30px;
	color: var(--color-inverted-text);
}

.lurk-links a {
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 8px;
	border-radius: 6px;
	padding: 5px 10px;
}

.lurk-links a:hover,
.lurk-links a:focus {
	background: hsla(0, 0%, 10%, 10%);
}

.lurk-links svg {
	height: 20px;
	width: 20px;
	opacity: 0.4;
}

.signup {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.signup input {
	padding: 10px;
	border-radius: 6px;
	border: none;
	text-align: center;
}

input[type="submit"] {
	background: hsla(0, 0%, 10%, 30%);
	color: var(--color-inverted-text);
}
