.entry {
	background: var(--color-post-bg);
	padding: var(--padding-main);
	position: relative;
	border-radius: 20px;
  max-width: var(--entry-max-width);
  border: var(--border-ui);
	margin: 0 auto;
	max-width: 95dvw;

  @media screen and (min-width: 800px) {
   min-width: var(--entry-max-width);
   overflow: scroll;
   margin-bottom: 0;
   height: max-content;
   max-height: 78dvh;
  }
}


.entry img,
.entry iframe {
	max-width: 100% !important;
}

.entry-intro {
	padding-bottom: 15px;
	border-bottom: var(--border-ui);
}

.entry a {
	transition: all 0.2s ease-out;
	text-decoration-color: var(--color-lighttext);
	text-decoration-thickness: 2px;
}

.entry a:hover,
.entry a:focus {
	color: var(--color-text);
	text-decoration-color: var(--color-text);
}

.entry p:first-of-type {
	margin-top: 0;
}

.entry p em {
	font-style: normal;
}

.entry :is(p, ol, ul, blockquote, pre) {
	margin-block-start: 25px;
}

.entry *:not(.entry-footer, .entry-footer li, .entry-footer a) {
	max-width: 35rem;
	margin-left: auto;
	margin-right: auto;
}

/* @media screen and (max-width: 800px) {
	.entry-full {
		height: 100dvh;
	}
} */

.entry h1,
.entry .h1 {
	font-size: var(--font-size-title);
	margin-top: 0;
	margin-bottom: 20px;
}

.entry h1 a,
.entry .h1 a {
	text-decoration: none;
}

.entry h1 a:hover,
.entry .h1 a:hover {
	text-decoration: underline;
}

.entry h2 {
	font-size: var(--font-size-subheading);
	margin-top: 40px;
}

.entry p,
.entry ul,
.entry ol,
.entry blockquote {
	font-size: var(--font-size-text);
	line-height: var(--line-height);
}

.entry-header {
	margin-bottom: 2rem;
}

.entry-header .h1 {
	margin-bottom: 5px;
}

.entry .date {
	display: block;
	color: var(--color-page-bg);
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	font-family: var(--font-subheading);
}

.entry ul {
	padding-inline-start: 1.5rem;
}

.entry ul li {
	margin-bottom: 0.7rem;
}

.entry ul li::marker {
	color: var(--color-highlight);
	margin: 0 0.5rem 0 0;
}

.entry-tags {
	margin-top: 40px !important;
	margin-bottom: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	list-style: none;
	padding: 0 !important;
}

.entry-tags li {
	margin: 0 !important;
}

.entry-tag {
	margin-bottom: 0;
	font-family: var(--font-subheading);
	text-transform: uppercase;
	color: var(--color-lighttext);
	font-size: 70%;
	display: flex;
	background: var(--color-code-block-bg);
	padding: 5px 10px 4px;
	gap: 4px;
	text-decoration: none;
	border-radius: 5px;

	&:hover,
	&:focus {
		background: var(--color-highlight);
		color: var(--color-text) !important;
	}

	&:before {
		content: "#";
		opacity: 0.5;
		display: block;
	}
}

h1 .entry-tag {
	display: inline-flex;
	position: relative;
	top: -2px;
	left: 3px;
}
