.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	@media screen and (min-width: 800px) {
		grid-template-columns: repeat(4, minmax(auto, 80px)) repeat(7, auto);
	}
}

@media screen and (min-width: 800px) {
	.container {
		margin: 0 auto;
	}
}

.main {
	grid-column: 1/13;
}

@media screen and (min-width: 800px) {
	.main {
		grid-column: var(--columns-main);
		min-height: 100vh;
		contain: inline-size;
	}

	.container .main {
		border-left: var(--border-ui);
		border-right: var(--border-ui);
		padding-bottom: 0;
	}
}

.container {
	z-index: 1;
	border-top: var(--border-ui);
}
