.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	@media screen and (min-width: 800px) {
		grid-template-columns: repeat(4, minmax(auto, 80px)) repeat(7, auto);
	}
}

@media screen and (min-width: 800px) {
	.container {
		margin: 0 auto;
	}
}

@media screen and (min-width: 800px) {
	.main {
		padding-bottom: 0;
	}
}

.container {
	z-index: 1;
}
