.header a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px;
}

.header {
	overflow: hidden;
	display: flex;
	border: 0;
	height: var(--header-height);
	background: var(--color-sidebar);
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: -1;
}

.header-logo {
	min-width: 100%;
	max-width: 100%;
	margin-bottom: 10px;
	width: 100%;
	color: var(--color-logo);
	transition: all 0.2s ease-in;
}
