.header {
	overflow: hidden;
	display: flex;
	border: 0;
	background: var(--color-page-bg);
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: -1;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

	@media screen and (min-width: 500px) {
		padding: 10px 20px;
	}
}

.header a {
	display: flex;
}

.header-logo {
	min-width: 100%;
	max-width: 100%;
	margin-bottom: 10px;
	width: 100%;
	color: var(--color-logo);
	transition: all 0.2s ease-in;
}

.cascade-logo {
	display: block;
}

.cascade-logo svg {
	width: 60px;
	height: 60px;

	@media screen and (min-width: 800px) {
		position: relative;
		width: 60px;
		height: 60px;
	}
}

menu-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px;
	border-radius: 6px;
	height: max-content;

	.sidebar-wrapper & {
		display: none;
	}
}

.menu-open menu-btn,
menu-btn:hover,
menu-btn:focus {
	background: hsla(0, 0%, 10%, 10%);
}

menu-btn button {
	font-weight: 600;
	height: max-content;
	display: flex;
	cursor: pointer;
	border: none;
	background: transparent;
	align-items: center;
	gap: 6px;
	color: var(--color-inverted-text);

	svg {
		fill: var(--color-inverted-text);
		width: 30px;
		height: 30px;
	}
}

.menu-open .popover-menu {
	display: block;
	animation: 250ms roll-in linear forwards;
}

.popover-menu {
	display: none;
	z-index: 999;
	position: fixed;
	height: calc(100dvh - 80px);
	background: rgba(255,255,255,0.4);
	z-index: 999;
	left: 0;
	right: 0;
	top: 60px;
	bottom: 0;
	width: 100%;
	overflow: scroll;
	animation: 400ms roll-out ease-out forwards;
	-webkit-backdrop-filter: blur(60px);
	backdrop-filter: blur(60px);

	@media screen and (min-width: 500px) {
		top: 80px;
	}
}

/* I cannot wait for animating display: none to ship  */
@keyframes roll-in {
	from {
		top: 100dvh;
		opacity: 1;
	} to {
		opacity: 1;
		top: 80px;
	}
}

@keyframes roll-out {
	0% {
		display: block;
		opacity: 1;
		top: 80px;
	} 100% {
		top: 100dvh;
		opacity: 1;
	}
}

.popover-menu .intro {
	font-size: clamp(3rem, 6vw, 5rem);
	font-family: var(--font-display);
	color: var(--color-page-bg);
	line-height: 1;
	max-width: 100%;
	padding-bottom: 2rem;
}

.popover-menu-wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;
}

.popover-menu-wrapper p {
	font-size: clamp(1.4rem, 3vw, 1.7rem);
	max-width: 700px;
	line-height: 1.35;
}

.menu-open .popover-menu {
	display: block;
}
