:root {
	--color-highlight: hsl(337, 68%, 78%);
	--color-highlight-dark: hsl(337, 68%, 68%);
	--color-page-bg: hsl(214, 74%, 52%);
	--color-page-dark: hsl(214deg 67.73% 32.76%);
	--color-logo: white;
	--color-sidebar: var(--color-page-bg);
	--color-post-bg: hsl(0, 0%, 100%);
	--color-inverted-text: hsl(0, 0%, 100%);
	--color-inverted-text-light: hsl(0, 0%, 95%);
	--color-text: hsl(0, 0%, 13%);
	--color-sidebar-dark: hsl(31, 30%, 80%);
	--color-subtext: hsl(0, 0%, 20%);
	--color-lighttext: hsl(0, 0%, 80%);
	--color-code-block-bg: hsl(0, 0%, 96%);
	--border-page: 3px solid var(--color-page-dark);
	--border-ui: 2px solid var(--color-text);
	--line-height: 1.55;
	--font-size-text: clamp(1.05rem, 3vw, 1.15rem);
	--font-size-title: clamp(1.6rem, 3vw, 1.7rem);
	--font-size-subheading: clamp(1.2rem, 3vw, 1.4rem);
	--font-size-sidebarheading: clamp(1.1rem, 3vw, 1.2rem);
	--font-size-code: clamp(0.8rem, 3vw, 0.85rem);
	--font-fallback: "Soehne", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	--font-subheading: "GT Maru Bold", var(--font-fallback);
	--font-code: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
		"DejaVu Sans Mono", monospace;
	--columns-sidebar: 1/5;
	--columns-main: 5/13;
	--padding-main: 40px 10px 50px;
	--padding-sidebar: 10px 10px;
	--btn-radius: 10px;

	@media screen and (min-width: 500px) {
		--padding-main: 40px 20px 50px;
	}

	@media screen and (min-width: 800px) {
		--border-page: 9px solid var(--color-page-dark);
		--padding-main: 60px 40px 60px;
		--padding-sidebar: 25px 25px;
		--color-logo: white;
	}
}
