---
title: The Cascade
layout: layouts/home.njk
permalink: "/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber}}/{% endif %}/"
eleventyNavigation:
  key: Home
  order: 1
pagination:
  data: collections.posts
  size: 15
  alias: posts
  reverse: true
---

{%- for post in posts %}
<article class="entry">
  <div class="entry-header">
    <time class="date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    <h2 class="h1">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h2>
  </div>
  {{post.content | safe}}
  <div class="entry-footer">
    <ul class="entry-tags">
      {%- for tag in post.data.tags | filterTagList %}
      {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <li><a href="{{ tagUrl }}" class="entry-tag">{{ tag }}</a></li>
      {%- endfor %}
    </ul>
  </div>
</article>
{%- endfor %}

{% if pagination.href.previous %}
  <a href="{{pagination.href.previous}}">Previous Page</a>
{% endif %}
{% if pagination.href.next %}
  <a href="{{pagination.href.next}}">Next Page</a>
{% endif %}

{# {% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %} #}
{# <h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1> #}

{# {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %} #}

{# {% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %} #}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
