---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
permalink: /tags/{{ tag | slugify }}/
eleventyComputed:
  title: “#{{ tag }}”
---

<div class="entry entry-intro">
  <h1>Tagged with <span class="entry-tag">{{ tag }}</span></h1>
</div>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

