<!doctype html>
<html lang="{{ metadata.language }}">
	<!--

____,  __, _, ____,    ____,   ____, ____,  ____,   ____, ____,  ____,
(-|    (-|__| (-|_,    (-/     (-/_| (-(__  (-/     (-/_| (-|  \ (-|_,
 _|,    _|  |, _|__,    _\__,  _/  |, ____)  _\__,  _/  |, _|__/  _|__,


-->

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed.json" type="application/json" title="{{ metadata.title }}">
		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}
		{#- Add an arbitrary string to the bundle #}
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/reset.css" %}{% endcss %}
		{%- css %}{% include "public/css/fonts.css" %}{% endcss %}
		{%- css %}{% include "public/css/vars.css" %}{% endcss %}
		{%- css %}{% include "public/css/base.css" %}{% endcss %}
		{%- css %}{% include "public/css/sidebar.css" %}{% endcss %}
		{%- css %}{% include "public/css/entry.css" %}{% endcss %}
		{%- css %}{% include "public/css/header.css" %}{% endcss %}
		{%- css %}{% include "public/css/footer.css" %}{% endcss %}
		{%- css %}{% include "public/css/grid.css" %}{% endcss %}
		{%- css %}{% include "public/css/code.css" %}{% endcss %}

		{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>
			{% getBundle "css" %}
		</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
		<meta name="view-transition" content="same-origin"/>
		<!-- Open Graph Meta Tags -->
		<meta property="og:url" content="https://csscade.com">
		<meta property="og:type" content="website">
		<meta property="og:title" content="The Cascade">
		<meta property="og:description" content="A website about the past, present, and future of CSS.">
		<meta property="og:image" content="https://www.csscade.com/favicon/cascade.jpg">
		<meta property="og:image:width" content="2400">
		<meta property="og:image:height" content="1260">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="csscade.com">
		<meta property="twitter:url" content="https://csscade.com">
		<meta name="twitter:title" content="The Cascade">
		<meta name="twitter:description" content="A website about the past, present, and future of CSS.">
		<meta name="twitter:image" content="https://www.csscade.com/favicon/cascade.jpg">

		<meta
			name="twitter:image"
			content="https://www.csscade.com/favicon/cascade.jpg"
		/>

		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicon/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon/favicon-16x16.png"
		/>
	</head>
	<body class="menu-closed">
		<a href="#skip" class="visually-hidden">Skip to main content</a>
		<header class="header">
			<a href="/" class="cascade-logo">
				<svg viewBox="0 0 456 391" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="456" height="391" rx="37" fill="#2A79DF"/>
					<g style="mix-blend-mode:hard-light">
						<rect width="218.542" height="194.144" rx="23" transform="matrix(0.913042 -0.407865 -0.885798 -0.46407 214.461 215.109)" fill="#D99172"/>
					</g>
					<g style="mix-blend-mode:hard-light">
						<rect width="218.542" height="194.144" rx="23" transform="matrix(0.913042 -0.407865 -0.885798 -0.46407 214.461 243.83)" fill="#D99172"/>
					</g>
					<g style="mix-blend-mode:hard-light">
						<rect width="218.542" height="194.144" rx="23" transform="matrix(0.913042 -0.407865 -0.885798 -0.46407 214.461 272.547)" fill="#D99172"/>
					</g>
					<g style="mix-blend-mode:hard-light">
						<rect width="218.542" height="194.144" rx="23" transform="matrix(0.913042 -0.407865 -0.885798 -0.46407 214.461 301.267)" fill="#D99172"/>
					</g>
					<g style="mix-blend-mode:hard-light">
						<rect width="218.542" height="194.144" rx="23" transform="matrix(0.913042 -0.407865 -0.885798 -0.46407 214.461 329.984)" fill="#D99172"/>
					</g>
					<g style="mix-blend-mode:hard-light">
						<rect width="218.542" height="194.144" rx="23" transform="matrix(0.913042 -0.407865 -0.885798 -0.46407 214.461 354.891)" fill="#D99172"/>
					</g>
					<g style="mix-blend-mode:hard-light">
						<rect width="218.542" height="194.144" rx="23" transform="matrix(0.913042 -0.407865 -0.885798 -0.46407 214.461 215.109)" fill="#D99172"/>
					</g>
				</svg>
			</a>
			<menu-btn>
				<button>
					<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M4 18q-.425 0-.712-.288T3 17t.288-.712T4 16h16q.425 0 .713.288T21 17t-.288.713T20 18zm0-5q-.425 0-.712-.288T3 12t.288-.712T4 11h16q.425 0 .713.288T21 12t-.288.713T20 13zm0-5q-.425 0-.712-.288T3 7t.288-.712T4 6h16q.425 0 .713.288T21 7t-.288.713T20 8z"/></svg>
					About
				</button>
			</menu-btn>
		</header>
		<div class="container grid">
			<div class="popover-menu">
				<div class="popover-menu-wrapper">
					<div class="popover-menu-about">
						<p class="intro">
							The Cascade is a blog about the past, present, and future of CSS.
						</p>

						<p>Howdy—<a href="https://robinrendle.com">Robin Rendle</a> here. I started this side project back in May because I wanted a dedicated place to learn-out-loud about all the exciting things that’s happening in the world of CSS.</p>

						<p>And so many exciting things are happening!</p>

						<p>Right now we’re living through a golden age: what was once a language that was easy to make fun of has transformed into a serious and expressive toolkit for building visual interfaces. Although making fun of CSS was always lame, today, in 2024, it shows a deep lack of curiosity. The train has left the station. CSS rules. Get with the program.</p>

						<p>But this hasn’t just randomly happened. Thousands of dedicated, smart folks have worked tirelessly over decades to get us to this point where CSS is—in this humble blogger’s opinion—the best design tool ever made. Every day some new super power is unlocked for us in browsers and with each new power the web becomes a better place, thanks to them.</p>

						<p>So this blog exists to keep me in the loop and somewhat up to date with everything that’s possible with CSS but also it’s a reminder to celebrate the people doing the hard work building these tools for us.</p>

						<p>You can subscribe to The Cascade via <a href="/feed.xml">RSS</a>, shoot me <a href="mailto:robinjrendle@gmail.com">an email</a> if you absolutely must, or <a href="href="https://mastodon.social/@csscade"">follow the feed</a>. This project is directly supported by readers and <a href="/membership">the membership program</a>.</p>

						<p>Right now the newsletter is taking a bit of a break whilst I figure out a healthy publishing cadence, but you can subscribe below:</p>

						<form
							action="https://buttondown.email/api/emails/embed-subscribe/cascade"
							method="post"
							target="popupwindow"
							onsubmit="window.open('https://buttondown.email/cascade', 'popupwindow')"
							class="signup"
						>
							<label class="visually-hidden" for="bd-email">Email</label>
							<input type="email" name="email" id="bd-email" placeholder="Email address" required/>
							<input type="submit" value="Subscribe"/>
						</form>
					</div>
				</div>
			</div>
			<main class="main" id="skip">
				{{ content | safe }}
			</main>
		</div>
		<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
		<script>
			class MenuBtn extends HTMLElement {
				connectedCallback() {
					this.addEventListener("click", function (e) {
						document.body.classList.toggle('menu-open');
					});
				}
			}
			customElements.define("menu-btn", MenuBtn);
		</script>
		<!-- This page was built on {% currentBuildDate %} -->
	</body>
</html>
